html,  body{
    margin: 0;
    padding: 0; 
    background-color: #1B1B1B;
    font-family: 'proxima-nova', Arial, Helvetica, sans-serif;
}
.container{
    width: 100% ;
    max-width: 1280px;
    margin: 0 auto;
    height: 60px;
}


/* header start */


header{
    background-color: #222428;
    position: sticky;
    top: 0px;
    z-index: 2;
    
}

.header-cont{
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
header a{
    display: inline-block;
}

.hamburger-menu,.logo,.search-input{
    margin-right: 27px;
}

.hamburger-menu .svg_color{
    fill:hsla(0,0%,100%,.8);
}
.logo svg{
    width: 100px;
    height: 26px;
    margin-top: 8px;
}


.search-input{
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    max-width: 500px;
    height: 40px;
    border-radius: 30px;
    padding: 0 10px;
    flex: 1;
    box-sizing: border-box;
    cursor: text;
    color: #8e8e93;
    font-size: 12px;
    background-color: #1b1b1b;
    border: 1px solid hsla(0,0%,100%,.1);
}
.search-input svg{
    margin: 0 10px;
}
.search-input .svg_color{
    fill: #8e8e93;
}

.search-input input{
    background-color: transparent;
    height: 38px;
    border: none;
    outline: none;
    color: white;
}
.header-btn{
    background-color: white;
    color: black;
    font-size: 12px;
    line-height: 10px;
    padding: 9px 20px 7px;
    border-radius: 20px;
    border: 1px solid white;
    margin-right: 27px;
}
.login-cta{
    font-size: 12px;
    color: hsla(0,0%,100%,.75);;
}

/* nav start */

.navigation-menu{
    position: sticky;
    top: 60px;
    min-height: 60px;
    background-color: #1B1B1B;
    z-index: 2;
}

.nav-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
}
.nav-link{
    color:hsla(0,0%,100%,.9);
    font-size: 16px;
    line-height: 20px;
    margin-right: 30px;
    text-decoration: none;
    letter-spacing: -.09px;
    text-transform: capitalize;
}

/* 2 columns layout css start */
.two-col-layout{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.music-libs{
    flex: 7;
    max-width: calc(100%-90px);
    padding: 0 45px;
    margin: 0 auto;
    max-width: 70%;
    overflow: hidden;
}
.index{
    z-index: 1;
}
.ad-cont{
    flex: 2;
    max-width: 30%;
    background-color: #1D1D1D;
}

/* slider css */
.song-section{
    margin: 50px 0;
}
.section-heading{
    margin-bottom: 20px;
    font-size: 24px;
    color: hsla(0,0%,100%,.9);
    text-transform: capitalize;
}
.song-cont{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.song-card{
    display: flex;
    flex-direction: column;
    margin-right: 45px;
}
.song-card:hover .overlay{
    visibility:visible;
}
.song-card:hover .img-cont{
    filter: brightness(.75);
}

.img-cont{
    width: 160px;
    height: 160px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}
.song-name{
    color: hsla(0,0%,100%,.9);
    margin-top: 6px;
    font-size: 16px;
}

.overlay{
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
    background-color: rgba(0,0,0,.3);
    cursor: pointer;
    background-image: url(https://a10.gaanacdn.com/gn_img/images/play_1621599900.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: calc(50% + 1px) 50%;
}
/* footer */
footer{
    padding-block: 80px;
    background-color: #ebf2fa;
}
.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}
